header{
    width:100%;
    position: fixed;
    background-color: #f46464;
    height:70px;
    display:flex;
    posi
    align-items:center;
    justify-content:center;
}


header img{
    width:38px;
    height:38x;
}

