.botao-consultor {
  width: 100%;
  height: 10vh;
  align-items: center;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.botao-consultor button {
  
  font-weight: bold;
  color: white;
  background-color:#a71319;
  animation: mymove 0.7s infinite;
  cursor: pointer;

}

@keyframes mymove {
  from {
    padding: 25px 60px 25px;
  }
  to {
    padding:55px 100px 55px;
  }
}
