header .regressive-count{
    display: flex;
    color: white;
    margin-left:10px;
    height:100%;
    align-items: center;
    justify-content: center;
    

}

header .regressive-count div{
   font-size:30px;

   font-weight:bold;
   
    

}
@media(max-width:500px){

}
.ajust{
    text-align:center;
    width:80px;
}